@model Zblog.Models.BlogPost
  @using PagedList;

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
        <div class="row">
            <!-- Latest Posts -->
            <main class="post blog-post col-lg-8">
                <div class="container">
                    <div class="post-single">
                        <div class="post-thumbnail">
                            @if (Model.MediaUrl != null)
                            {
                                <img class="img-fluid" src="@Model.MediaUrl" alt="...">
                            }
                        </div>
                        <div class="post-details">
                            <h1>@Model.Title</h1>
                            <div class="post-footer d-flex align-items-center flex-column flex-sm-row">

                                <a href="#" class="author d-flex align-items-center flex-wrap">
                                    <div class="blog"><span> by Greg Zambrana</span></div>
                                </a>

                            </div>
                            <hr />
                            <div class="post-body">
                                @Html.Raw(Model.Body)

                            </div>
                            <hr />
                            <h2>Comments</h2>
                            <hr />

                            @foreach (var Comment in Model.Comments.OrderByDescending(c => c.Created).ToPagedList(1,3))
                            {
                                <p>@Html.Raw(Comment.Body)</p>
                                <p><b>Commented on @Comment.Created.ToString("MM/dd/yy") by @Comment.Author.Email</b></p>

                                if (User.IsInRole( "Admin") || (User.IsInRole("Moderator")))
                                {
                                    // pass in correct values to send to correct page when clicked on
                                    <p>@Html.ActionLink("Edit", "Edit", "Comments") / @Html.ActionLink("Delete", "Delete", "Comments")</p>
                                }
                                <hr />
                            }


                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken();
                                    @Html.HiddenFor(model => model.Id);
                                    @Html.HiddenFor(model => model.Slug);

                                    <div class="add-comment" id="addComment">
                                        <header>
                                            <h3 class="h6">Leave a comment!</h3>
                                        </header>
                                        <form action="#" class="commenting-form">
                                            <div class="row">

                                                <div class="form-group col-md-12">
                                                    @Html.Editor("commentBody")
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <button type="submit" id="addCom" class="btn btn-info">Submit Comment</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/tinymce/tinymce.min.js"></script>
        <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>

        <script>
            $(function () {
                tinymce.init({
                    selector: '#commentBody'
                });
            });
            $("#addCom").submit(){
                
            }


        </script>

    }


</body>
</html>